* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #5a1419;
  background-image: radial-gradient(circle at top left, rgba(255, 100, 60, 0.15), transparent),
                    radial-gradient(circle at bottom right, rgba(255, 100, 60, 0.15), transparent);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nuvem-topo {
  position: absolute;
  bottom: 51%;
  right: 46%;
  width: 82%;
  z-index: 0;
  pointer-events: none;
}

.nuvem-baixo {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 130%;
  z-index: 0;
  pointer-events: none;
}

.background {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 25%;
  z-index: 2;
}

.card {
  background-color: #e0d1d1;
  padding: 40px;
  border-radius: 25px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  z-index: 2;
}

h1 {
  color: #5a1419;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.logos img {
  height: 80px;
  margin: 0 10px;
}

.divisor {
    width: 4px;
    height: 100px;
    background-color: #5a1419;
}

label {
    font-size: 0.8rem;
    color: #00785a;
    display: block;
    margin-bottom: 6px;
    margin-left: 20px;
}

input {
    width: 94%;
    padding: 10px;
    border: 2px solid #5a1419;
    border-radius: 25px;
    font-size: 1rem;
    margin-bottom: 20px;
    
}

button {
    background-color: #5a1419;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 80%;
    font-size: 25px;
}

button:hover {
    text-decoration: underline;
}