* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(to right, #015258, #131e31);
    color: #333;
    transition: 0.5s ease;
    background-color: #000000;
}

.nuvem-topo {
  position: absolute;
  bottom: 51%;
  right: 46%;
  width: 82%;
  z-index: 0;
  pointer-events: none;
}

.nuvem-baixo {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 130%;
  z-index: 0;
  pointer-events: none;
}

.background {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: #374253;
    width: 50vw;
    height: 75vh;
    text-align: center;
    border-radius: 10px;
}

.content img {
    background-color: #1c2330;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: #000000 2px solid;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    & a {
        text-decoration: none;
        color: #128e75;
        margin-top: 10px;
    }

    & a:hover {
        text-decoration: underline;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #128e75;
}

.input-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

label {
    font-size: 12px;
    margin-bottom: 5px;
    align-self: flex-start;
    margin-left: 15%;
}

input {
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
    border: #fff 2px solid;
    border-radius: 20px;
    background-color: #1c2330;
    color: #fff;
}

input:focus {
    background-color: #243041;
    outline: none;
}

button {
    background-color: #131e31;
    color: #fff;
    border: #fff 2px solid;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bolder;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width: 768px) {
    .content {
        width: 40vw;
    }
}

@media (min-width: 1024px) {
    .content {
        width: 40vw;
    }
}
