* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #5a1419;
  background-image: radial-gradient(circle at top left, rgba(255, 100, 60, 0.15), transparent),
                    radial-gradient(circle at bottom right, rgba(255, 100, 60, 0.15), transparent);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nuvem-topo {
  position: absolute;
  bottom: 50%;
  right: 46%;
  width: 82%;
  z-index: 0;
  pointer-events: none;
}

.nuvem-baixo {
  position: absolute;
  top: 60%;
  left: 30%;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}

.background {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 400px;
  z-index: 2;
}

.card {
  background-color: #e0d1d1;
  padding: 40px;
  border-radius: 25px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  z-index: 2;
}

h1 {
  color: #5a1419;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.logos img {
  height: 80px;
  margin: 0 10px;
}

.divisor {
    width: 4px;
    height: 100px;
    background-color: #5a1419;
}
button {
  background-color: #5a1419;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin: 15px auto 0    auto;
  width: 50%;
  font-size: 20px;
}

button img {
  height: 24px;
}

p {
  display: block;
  font-size: 0.85rem;
  color: #00785a;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}

/* Nuvens padrão (desktop grande) */
.nuvem-topo {
  position: absolute;
  bottom: 50%;
  right: 46%;
  width: 82%;
  z-index: 0;
  pointer-events: none;
}

.nuvem-baixo {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 130%;
  z-index: 0;
  pointer-events: none;
}

/* Telas pequenas (celulares grandes) */
@media (max-width: 768px) {
      .content {
          width: 70vw;
      }

      .nuvem-topo {
          bottom: 70%;
          right: 46%;
          width: 82%;
      }

      .nuvem-baixo {
          top: 60%;
          left: 30%;
          width: 130%;
      }
  }



  @media (max-width: 1024px) {

    .nuvem-topo {
        bottom: 70%;
        right: 46%;
        width: 82%;
    }

    .nuvem-baixo {
        top: 60%;
        left: 30%;
        width: 130%;
    }
}
