* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
  background-color:  #003c41;
  width: 100%;
  transition: 0.5s ease;
  color: white;
  height: 100vh;
}

main {
    background-image: linear-gradient(to bottom, #015258, #131e31);
}

.Download {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 100px);
  align-items: center;
  margin-left: 10%;
}

.Download a {
  text-decoration: underline;
  color: white;
}
.Download a:hover {
  color: #00796B;
}

.Download > div {
  background-color: #131e31;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  height: 60px;
}

.Download > button {
  background-color: #131e31;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  text-decoration: underline;
  font-size: large;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
}


.cards-container {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  margin: auto;
}

.card {
  background-color: #131e31;
  color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 0;
  transition: all 0.5s ease;
}

.card.expanded {
  flex-grow: 2; 
}

.card:not(.expanded) {
  flex-grow: 1;
}

.card.expanded p {
  display: block;
  animation: fadeIn 0.8s;
}

.card p {
  display: none;
}

@keyframes fadeIn {
  from {transform: translateY(10px); }
  to {transform: translateY(0); }
}


.versoes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.versoes > div {
  background-color: #131e31;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  padding: 20px;
  font-size: 1.5em;
}

.versoes > button {
  background-color: #131e31;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  cursor: pointer;
  width: 85%;
  margin-left: 10%;
  font-size: 20px;
}

.versoes > button > p {
  font-size: 1.2em;
}