<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Comentários</title>
  <link rel="stylesheet" href="/css/comentarios.css"> 
</head>
<body>
  <header>
    <div class="logo">
      <img src="/images/2.png" alt="Logo">
      <span>DeepMemories</span>
    </div>

    <!-- Adiciona a informação do usuário aqui -->
    <div class="user-info">
      <!-- Exibe o nome do usuário se ele estiver logado -->
      <span>Olá  <strong th:text="${nomeUsuario}">Usuário</strong>!</span>
      <!-- Se não estiver logado, pode-se mostrar algo diferente, como um botão de login -->
      <button type="button" th:unless="${nomeUsuario}"  class="login" onclick="window.location.href='/login'">LOGAR CONTA</button>
    </div>

    <a href="/" class="btn-voltar">Voltar</a> 
  </header>

  <main>
    <h1>Comentários</h1>
    <section>

      <form action="/comentarios" method="post">
        <textarea name="texto" placeholder="Escreva seu comentário aqui..." required></textarea>
        <button type="submit">💬 Comentar</button>
      </form>

      <hr>

      <div th:if="${#lists.isEmpty(comentarios)}" class="sem-comentarios">
        Nenhum comentário ainda.
      </div>

      <div th:each="comentario, iterStat : ${comentarios}" 
           th:if="${iterStat.index < 5}"
           class="comentario">
        <p>
          <strong th:text="${comentario.nomeUsuario}">Nome</strong> 
          <small>em <span th:text="${#temporals.format(comentario.dataHora, 'dd/MM/yyyy HH:mm')}">data</span></small>
        </p>
        <p th:text="${comentario.texto}">Texto do comentário</p>
      </div>
    </section>
  </main>
</body>
</html>
