<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial</title>
  <link rel="stylesheet" href="/css/Home.css">
</head>
<body> 

  <section class="inicio">
    <div class="nuvem_inicial">
      <img src="/images/nuvem-esquerda.png" class="nuvem_inicial-topo" alt="Nuvem topo esquerda">
      <img src="/images/nuvem-direita.png" class="nuvem_inicial-baixo" alt="Nuvem inferior direita">
    </div>
    <div class="principal">
      <img src="/images/2.png" alt="Logo DeepMemories">
      <h1>EXPLORE UM MUNDO DESCONHECIDO</h1>
      <button onclick="window.location.href='/CreateAccount.html'">CRIE SUA CONTA!</button>
    </div>
  </section>

  <header>
    <img src="/images/deepmemories-logoAzul.png" alt="logo">
    <nav>
      <button id="btn-menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>

      <div class="menu">
        <div class="dropdown">
          <button class="dropbtn">JOGO</button>
          <div class="dropdown-content">
            <a href="#GERAL">GERAL</a>
            <a href="#INICIANTES">INICIANTES</a>
            <a href="#PERSONAGENS">PERSONAGENS</a>
            <a href="#VILÕES">VILÕES</a>
            <a href="#SISTEMAS">SISTEMAS</a>
            <a href="#INTERFACE">INTERFACE</a>
            <a href="#INVENTÁRIO">INVENTÁRIO</a>
            <a href="#RECURSOS">RECURSOS</a>
            <a href="#FAC.E REP.">FAC.E REP.</a>
            <a href="#PROG.E ARMAS">PROG.E ARMAS</a>
            <a href="#LOJA ORGANICA">LOJA ORGANICA</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Sobre</button>
          <div class="dropdown-content">
            <a href="#BAIXAR">BAIXAR</a>
            <a href="#ATUALIZAÇÕES">ATUALIZAÇÕES</a>
            <a href="#VERSOES">VERSÕES</a>
            <a href="#SEGURANÇA DA CONTA">SEGURANÇA DA CONTA</a>
            <a href="#POLITICA DO JOGO">POLÍTICA DO JOGO</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Comunidade</button>
          <div class="dropdown-content">
            <a href="/comentarios.html">COMENTÁRIOS</a>
            <a href="#REDES SOCIAIS">REDES SOCIAIS</a>
            <a href="#FAÇA PARTE">FAÇA PARTE</a>
            <a href="#SUPORTE">SUPORTE</a>
          </div>
        </div>
      </div>
    </nav>
    <section class="botoes">
      <button type="button" class="criar" onclick="window.location.href='/CreateAccount.html'" id="criar">CRIAR CONTA</button>
      <button type="button" class="login" onclick="window.location.href='/login.html'" id="login">LOGAR CONTA</button>
    </section>
  </header>


  <main>
    <h1>Deep Memories</h1>
    <section class="conteudo-principal">

      <div class="sobre">
        <section class="texto-sobre">
          <p>Deep Memories é um RPG 2D de ação e exploração com mapa aberto,
            ambientado em um futuro distorcido onde a Terra foi destruída pela própria
            humanidade. Restaram apenas memórias fragmentadas de um passado sombrio.
            Criaturas monstruosas, criadas a partir de experimentos esquecidos, são agora os únicos seres capazes de sobreviver nos planetas abandonados do sistema solar. Você controla uma dessas entidades - um “resquício profundo” - em uma
            jornada para recuperar a verdade sobre a extinção humana e enfrentar as
            abominações que restaram. Cada planeta é uma área livremente explorável do mapa, com ambientes únicos, segredos enterrados, e mutações brutais da raça humana.
            Prepare-se para descobrir memórias corrompidas, vestígios de civilizações extintas e a fúria grotesca do que restou da humanidade.</p>
          <p>Resumo do jogo
            Protagonista: Você joga como um "resquício profundo", uma criatura monstruosa criada a partir de experimentos humanos passados.
          </p>
          <p>Objetivo: Sua missão é viajar por planetas abandonados do sistema solar para recuperar a verdade sobre o que causou a extinção da humanidade.
          </p>
          <p>Exploração: Cada planeta é uma área do mapa de mundo aberto, com ambientes distintos e segredos escondidos para serem descobertos. Você precisará explorar esses locais e lidar com as "mutações brutais da raça humana" que restaram.</p>
          <p>Combate e perigos: O jogo envolve enfrentar as "abominações" que surgiram após os experimentos, com a ação e a exploração sendo partes centrais da experiência.</p>
        </section>

        <section class="informacoes-sobre">
          <h2>Deep Memories</h2>
          <div class="image-logo">
            <img src="/images/deepmemories-logoAzul.png" alt="Logo Deep Memories" class="logo"></div>
          <div>
            <h3>Desenvolvedores:</h3>
            <li>Bruce, Caio, Gabriela, Italo, Yohan, Wennes</li>

            <h3>Designer:</h3>
            <li>Yohan</li>

            <h3>Plataformas:</h3>
            <li>Windows, MacOS, Linux</li>

            <h3>Gênero:</h3>
            <li>Simulação, ação, exploração</li>

            <h3>Modo:</h3>
            <li>Um jogador</li>

          </div>
        </section>
      </div>

      <h1>GERAL</h1>
      <section class="content" id="GERAL">
        <p>DeepMemories é um RPG de ficção científica sombria onde o jogador controla um ser simbiótico em um futuro
          devastado. A progressão acontece através da absorção de memórias, desbloqueando mutações, habilidades e armas
          orgânicas que moldam o corpo do personagem. A exploração é livre pelos planetas do Sistema Solar, cada um com
          biomas, inimigos e recursos únicos, exigindo constante adaptação. O combate é estratégico e brutal, com
          criaturas mutantes detalhadas em um bestiário vivo, cada qual com fraquezas e resistências próprias. A
          narrativa se molda às escolhas do jogador, influenciando alianças, reputação e finais possíveis. Em uma
          atmosfera sombria e melancólica, o jogo mergulha o jogador na busca por identidade em meio ao caos de um
          universo em ruínas.</p>
      </section>

      <h1>INICIANTES</h1>
      <section class="content" id="INICIANTES">
        <h2>Exploração</h2>
        <p>O jogador explora planetas com biomas únicos, recursos e inimigos próprios, descobrindo segredos e rotas
          alternativas. Em vez de níveis tradicionais, evolui absorvendo memórias de inimigos, aliados e artefatos,
          desbloqueando poderes e mutações.</p>

        <h2>Combate</h2>
        <p>O combate é simbiótico, misturando ataques corpo a corpo, habilidades mutantes e armas orgânicas que evoluem
          em diferentes caminhos, alterando estratégias. O universo possui inimigos mutantes variados, cada um com
          fraquezas e resistências.</p>

        <h2>História</h2>
        <p>A narrativa é dinâmica: escolhas, alianças e formas de exploração afetam reputação e finais possíveis,
          tornando cada jornada única.</p>
      </section>

      <div class="imagens">
        <div class="ilustracoes_content2">
          <img src="/images/ilustracao-1.jpg" alt="Floresta">
        </div>
        <div class="ilustracoes_content2">
          <img src="/images/ilustracao-2.jpg" alt="Ferreiro">
        </div>
        <div class="ilustracoes_content2">
          <img src="/images/ilustracao-3.jpg" alt="Castelo">
        </div>
      </div>

      <!----------------------- Planetas ------------------------>
      <h1>NÍVEIS</h1>
      <section id="NIVEIS">
        <article class="mundo">
          <div class="fundo_mundo">
            <h2>1. Marte - O Ossário de Cinzas</h2>
            <p><strong>Bioma:</strong> deserto escarlate com tempestades de ossos.</p>
            <p><strong>Inimigos:</strong> desqueletos metálicos, vermes simbióticos.</p>
            <p><strong>Boss:</strong> Haemogor, mutante com sangue fervente que explode ao ser ferido.</p>
            <!-- bloco das imagens -->
            <section class="wiki">
              <div class="img_ilustracao">
                <img src="/images/marte-1.jpg" alt="Ilustração de Marte">
                <img src="/images/marte-2.jpg" alt="Ilustração de Marte">
                <img src="/images/marte-3.jpg" alt="Ilustração de Marte">
              </div>
            </section>
          </div>
        </article>
      </section>
      <!-- Fim da seção NÍVEIS -->
    </section>
  </main>
</body>
</html>
