<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/css/jogo.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Baixar DeepMemories</h1>
          <section class="Download" id="BAIXAR">
            <div>Baixar para Windows</div>
            <button>Windows(EXE)</button>
            <div>Baixar para Android</div>
            <button>APK Android</button>
            <div>Baixar para MacOS</div>
            <button>DMG</button>
          </section>
        <h1>Atualizações</h1>
          <section class="updates-section" id="ATUALIZAÇÕES">
            <div class="cards-container">
              <article class="card">
                <section>
                  <h3>Patch 1.2 – Novos Inimigos</h3>
                </section>
                <p>Adicionamos mutantes inéditos e ajustes no sistema de combate simbiótico.</p>
              </article>
              <article class="card">
                <section>
                  <h3>Balanceamento de Armas</h3>
                </section>
                <p>Revisamos o dano de armas simbióticas e melhoramos a progressão de evolução.</p>
              </article>
              <article class="card">
                <section>
                  <h3>Nova Área: As Ruínas de Marte</h3>
                </section>
                <p>Um novo bioma repleto de segredos e criaturas hostis foi liberado para exploração.</p>
              </article>
            </div>
         </section>
        <h1>Versões</h1>
          <section class="versoes" id="VERSOES">
            <div>Primeira versão jogável; Implementação básica de exploração em mapa livre; Introdução ao sistema de memórias para evolução; HUD inicial e inventário experimental.
            </div>
            <button>Versão 0.1 –<p> Protótipo (2025)</p></button>
            <div>Adição do sistema de crafting simbiótico; Inclusão dos primeiros biomas (Mercúrio e Marte); Criação do bestiário inicial com inimigos comuns e elites; Loja simbiótica funcionando com protótipo de reputação.</div>
            <button>Versão 0.5 –<p>Alpha (2025)</p>
            </button>
            <div>Expansão para novos planetas: Vênus e Europa; Sistema de progressão de armas com ramificações; Implementação de fraquezas e resistências nos inimigos; Primeiros eventos narrativos dinâmicos baseados em decisões.
            </div>
            <button>Versão 0.8 –<p> Beta (2026)</p>
            </button>
            <div>Todo o sistema de evolução e reputação balanceado; Campanha completa com narrativa ramificada; Modo coop simbiótico para 2 jogadores; Polimento de interface, HUD e mecânicas principais.</div>
            <button>Versão 1.0 – <p>Lançamento Oficial (2026)</p>
            </button>
          </section>
    </main>
</body>
</html>