* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #5a1419;
  background-image: radial-gradient(circle at top left, rgba(255, 100, 60, 0.15), transparent),
                    radial-gradient(circle at bottom right, rgba(255, 100, 60, 0.15), transparent);
  width: 100vw;
  height: 100vh;
}

.nuvem-topo {
  position: absolute;
  bottom: 70%;
  right: 46%;
  width: 82min%;
  z-index: 0;
  pointer-events: none;
}

.nuvem-baixo {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 130%;
  z-index: 0;
  pointer-events: none;
}

.background {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.container {
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #e0d1d1;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  z-index: 2;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.logos img {
  height: 100px;
  margin: 0 10px;
}

.divisor {
  width: 2.5px;
  height: 70px;
  background-color: #5a1419;
}

label {
  font-size: 0.8rem;
  color: #00785a;
  display: block;
  margin-bottom: 6px;
  margin-left: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 3px solid #5a1419;
  border-radius: 25px;
  font-size: 1rem;
  margin-bottom: 20px;
}

.criar {
    background-color: #5a1419;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto 15px auto;
    color: #fff;
    padding: 10px 20px;
    width: 220px;
    height: 50px;
    font-size: 1.2em;
}

.criar:hover {
    text-decoration: underline;
}

a {
  display: block;
  font-size: 0.85rem;
  color: #00785a;
  text-decoration: none;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .card {
    width: 70vw;
    padding: 20px;
  }
}

@media (max-width: 1024px) {

    .nuvem-topo {
        bottom: 70%;
        right: 46%;
        width: 82%;
    }

    .nuvem-baixo {
        top: 60%;
        left: 30%;
        width: 130%;
    }
}
