/* -------------------- RESET -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

/* -------------------- BODY -------------------- */


body {
  background-color:  #003c41;
  width: 100%;
  transition: 0.5s ease;
  color: white;
}

/* -------------------- inicio -------------------- */


.inicio.animado {
  opacity: 1;
  transform: translateY(0);
}

.inicio.animado .nuvem_inicial {
  opacity: 1;
  transform: translateY(0);
}

.inicio.animado .principal {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.scroll-animado {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.scroll-animado.apareceu {
  opacity: 1;
  transform: translateY(0);
}

.inicio {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #015258, #131e31);
  overflow: hidden;
  z-index: 10;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: auto;
}

.inicio {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #015258, #131e31);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.conteudo {
  min-height: 100vh;
  background-color: white;
  color: black;
  padding: 50px;
}

.nuvem_inicial-topo {
  position: absolute;
  bottom: 50%;
  right: 40%;
}

.Nuvem-central {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nuvem_inicial-baixo {
  position: absolute;
  top: 50%;
  left: 40%;
}

.nuvem_inicial {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1s ease-out;
}

.principal {
  opacity: 0;
  transform: translateY(-20px) scale(0.95);
  transition: all 1s ease-out;
  z-index: 99999;
}

.inicio > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inicio > .principal > img {
  position: relative;
  width: 50%;
}

.inicio > div > button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background: linear-gradient(to top, #015258, #131e31) padding-box, linear-gradient(to right, #621e23, #df5e1f) border-box;
  border: 3px solid transparent;
  border-radius: 10px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bolder;
}

.inicio > div > button:hover {
  text-decoration: underline;
}

.inicio > .principal > h1 {
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;

  text-shadow:
    4px 4px 0 rgb(94, 61, 0),
    1px -1px 0 #db630d,
    1px  3px 0 #db630d,
    4px  4px 0 rgb(125, 81, 0),
     0   -1px 0 rgb(92, 60, 0),
     0    1px 0 rgb(103, 67, 0),
    -1px  0   0 #db630d,
     1px  0   0 rgb(125, 82, 1);
}




/* -------------------- HEADER -------------------- */
header {
  background-color: #959393;
  display: flex;
  align-items: center;
  min-height: 15vh;
  gap: 30px;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: 0.5s ease;
}

header.scrolled {
  background-color: #374253d0;
  transition: 0.5s ease;
}

header img {
  height: 13vh;
  margin-left: 20px;
}

/* -------------------- NAV -------------------- */
nav {
  display: flex;
  margin-right: 10px;
  gap: 20px;
}

nav div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* -------------------- HAMBURGER MENU -------------------- */
#btn-menu {
  width: 40px;
  height: 40px;
  border: 2px solid #131e31;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;   
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.line {
  width: 20px;
  height: 3px;
  background-color: #131e31;
  display: block;
  position: relative;
  transform-origin: center;
  transition: 0.2s;
}

#btn-menu.active .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
  background-color: #015258;
}

#btn-menu.active .line:nth-child(2) {
  width: 0;
}

#btn-menu.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #015258;
}

/* -------------------- DROPDOWN -------------------- */
  #btn-menu {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-image: linear-gradient(to top, #015258, #131e31);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  width: 150px;
  transition: 1s ease;
}

.dropbtn:hover {
  background: #003c41;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-image: linear-gradient(to top, #131e31, #015258);
  min-width: 200px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
}

.dropdown-content > img {
  width: 50px;
}


.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-image: linear-gradient(to bottom, #131e31, #015258);
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #556270;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* -------------------- BOTÃO CRIAR CONTA -------------------- */
#conta {
  position: absolute;
  right: 20px; 
  background-image: linear-gradient(to top, #015258, #131e31);
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  height: 50px;
}

#conta:hover {
  background-color: #00796B;
}

#conta a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.inicio {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.2s ease-out; /* QUASE INSTANTÂNEO */
}

.inicio.visivel {
  opacity: 1;
  transform: translateY(0);
}

/* -------------------- FUNDO COM NUVEM -------------------- */
.background {
  background-color:  #015258;
  position: fixed;
  inset: 0;
  z-index: 0;
}

.nuvem-topo {
  position: absolute;
  bottom: 51%;
  right: 46%;
  width: 82%;
  z-index: 0;
  pointer-events: none;
}

.nuvem-baixo {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 130%;
  z-index: 0;
  pointer-events: none;
}

.nuvem-baixo, .nuvem-topo {
  max-width: 100%;
}
/* -------------------- MAIN / CONTEÚDO -------------------- */
main {
  position: relative;
  width: 100%;
  margin-top: 5%;
}

h1 {
  font-size: 2.5em;
  margin: 10px 0 20px 20px;
}

h2 {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 20px;
}

p {
  font-size: 1.4em;
  line-height: 50px;
}
.conteudo-principal {
  padding: 10px;
  border-radius: 10px;
  z-index: 3;
}

.sobre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.texto-sobre {
  background-color: #131e31;
  padding: 20px;
  border-radius: 20px;
  width: 70vw;
  height: 95%;
  line-height: 40px;
  text-align: justify;
}

.informacoes-sobre {
  background-color: #131e31;
  padding: 20px 0px 45px 20px;
  border-radius: 20px;
  width: 100%;
  line-height: 20px;
  height: 95%;
}

.informacoes-sobre > ul {
  list-style: none;
  margin-left: 10px;
  gap: 30px;
  margin-bottom: 20px;
}

.informacoes-sobre li {
  margin-left: 45%;
}

.content {
  background-color: #131e31;
  padding: 30px;
  border-radius: 30px;
  margin-bottom: 20px;
  line-height: 30px;
}

.content h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 2.3em;
  line-height: 40px;
}


.content li { 
  font-size: 1.3em;
  margin-left: 10px;
}

.sobre_planeta {
  background-color: #131e31;
  padding: 25px 15px;
  border-radius: 20px;
  line-height: 35px;
}

.mundo {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.fundo_mundo {
  background-color: #131e31;
  padding: 25px 15px;
  border-radius: 20px;
  line-height: 35px;
  font-size: large;
}

.logo {
  margin: 0 0 0 35%;
  width: 160px;
}

/* -------------------- ILUSTRAÇÕES E IMAGENS -------------------- */
.imagens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.ilustracoes_content2 {
  background-color: #131e31;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.ilustracoes_content2 img {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  border-radius: 20px;
}

.img_ilustracao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-top: 20px;
  width: 100%;
}

.img_ilustracao img {
  width: 20%;
  border-radius: 20px;
  object-fit: cover;
}

.planeta {
  background-color: #131e31;
  width: 500px;
  border-radius: 20px;
}

.video {
  display: flex;
  padding: 0%;
}

.personagens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.conteudo_personagens {
  background-color: #131e31;
  border-radius: 20px;
  width: 100%;
  height: 300px;
  padding: 25px 15px;
  line-height: 35px;
  font-size: large;;
}

.ilustracao_personagem{
  background-color: #131e31;
  width: 500px;
  height: 300px;
  border-radius: 20px;
}

.ilustracao_personagem img {
  width: 180px;
}

.monstros{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  gap: 40px;
}

.conteudo_mostros {
  background-color: #131e31;
  border-radius: 20px;
  width: 60%;
  padding: 25px 15px;
  font-size: large;
  text-align: center;
}

.ilustracao_monstros {
  background-color: #131e31;
  width: 500px;
  height: 200px;
  border-radius: 20px;
}

#bixo {
  margin-top: 15%;
}

/* -------------------- DOWNLOAD, ATUALIZAÇÕES E VERSÕES DO JOGO -------------------- */
.Download {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 100px);
  align-items: center;
  margin-left: 10%;
}

.Download a {
  text-decoration: underline;
  color: white;
}
.Download a:hover {
  color: #00796B;
}

.Download > div {
  background-color: #131e31;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  height: 60px;
}

.Download > button {
  background-color: #131e31;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  text-decoration: underline;
  font-size: large;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
}


.cards-container {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  margin: auto;
}

.card {
  background-color: #131e31;
  color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 0;
  transition: all 0.5s ease;
}

.card.expanded {
  flex-grow: 2; 
}

.card:not(.expanded) {
  flex-grow: 1;
}

.card.expanded p {
  display: block;
  animation: fadeIn 0.8s;
}

.card p {
  display: none;
}

@keyframes fadeIn {
  from {transform: translateY(10px); }
  to {transform: translateY(0); }
}


.versoes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.versoes > div {
  background-color: #131e31;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  padding: 20px;
  font-size: 1.5em;
}

.versoes > button {
  background-color: #131e31;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  cursor: pointer;
  width: 85%;
  margin-left: 10%;
  font-size: 20px;
}

.versoes > button > p {
  font-size: 1.2em;
}

/* -------------------- Animação -------------------- */

.animar {
  display: block;
  margin: 10% auto;
  width: 200px;
  animation: flutuar 3s ease-in-out infinite;
}

@keyframes flutuar {
  0%   { transform: rotate(0px); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}



/* -------------------- RESPONSIVIDADE -------------------- */

@media (max-width: 768px) {
  html, body {
  overflow-x: hidden;
  }

  #btn-menu {
    display: flex;
  }
  
  nav .menu {
    flex-direction: column;
    display: none;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    background-color: #2f4c5f;
    margin-top: 10px;
    margin-left: 40px;
  }

  nav .menu.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
  .menu.show {
    display: flex;
    position: absolute;
  }

  .dropdown,
  .conta {
    width: 100%;
  }

  .dropbtn,
  .conta {
    width: 100%;
    text-align: center;
  }

  .mundo,.personagens {
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
  }

  .monstros {
    display: flex;
  }

  .mundo .fundo_mundo,.personagens,
  .conteudo_personagens, .monstros,
  .conteudo_mostros,.video {
    flex: 1 1 300px;
  }

  .planeta, .ilustracao_monstros {
    width: 100%;
  }

  }
  .planeta img {
    width: 90%;
  }

  .ilustracao_personagem {
    background-color: #131e31;
    width: 100%;
    height: 100%;
}

  .conteudo_personagens {
    width: 100%;
    height: 100%;
  }

  .img_ilustracao img {
    width: 25%;
  }

  .logo{
    margin: 0 30vw;
    width: 200px;
  }
  
  .texto-sobre {
    width: 100%;
  }

  .sobre {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .Download {
    margin-left: 0%;
    gap: 20px;
  }

  .Download > div {
    font-size: 16px;
    height: 50px;
  }

  .Download > button {
    font-size: 16px;
    width: 100%;
    margin-left: 0%;
  }

  .cards-container {
    flex-direction: column;
  }

  .card {
    width: 65%;
  }

  .versoes > div {
    width: 50vw;
    font-size: 20px;
  }

  .versoes > button {
    width: 80%;
    font-size: 1rem;
    height: 20vh;
  }

  p {
    font-size: 1.3em;
    line-height: 30px;
  }

  #bixo > .ilustracao_personagem img {
    width: 220px;
  }

  .inicio > div > button {
    margin-top: 5%;
  }

@media (min-width: 769px) and (max-width: 1024px) {
  #btn-menu {
    display: none;
  }

  .dropbtn {
    width: 100%;
  }

  .planeta,
  .ilustracao_personagem,
  .ilustracao_monstros {
    width: 40vw;
    max-width: 100%;
    height: auto;
  }

  .informacoes-sobre li {
    margin-left: 35%;
  }

  .Download {
    gap: 20px 20%;
  }

  .Download > div {
    font-size: 1rem;
  }

  .Download > button {
    width: 100%;
    margin-left: 0;
    height: 60px;
  }

  .versoes > div {
    width: 60vw;
    font-size: 17px;
  }

  .versoes > button {
    width: 80%;
    font-size: 1rem;
  }

  p {
    font-size: 1.3em;
    line-height: 30px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.3em;
  }

  .content h3 {
    font-size: 1.5em;
  }

  .logo {
    width: 200px;
    margin: 0px 35%;
  }

  .texto-sobre {
    width: 100%;
    line-height: 40px;
  }

  .img_ilustracao img {
    width: 25%;
  }

  .ilustracoes_content2 {
    width: 100%;
  }

  .ilustracoes_content2 img {
    max-width: 100%;
    height: auto;
  }

  .ilustracao_personagem {
    width: 29vw;
  }

  .ilustracao_monstros {
    width: 29vw;
  }
}

@media (min-width: 1024px) {
  .conteudo_personagens {
    width: 100%;
  }
 
  .ilustracao_personagem {
    width: 25.5vw;
  }
}