* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #621e23;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    background-color: rgb(199, 192, 192);
    width: 50%;
    height: 50vh;
    border-radius: 10px;
}

h1 {
}

label {
    color: #128e75;
    font-family: 'Open Sans', sans-serif;
}

input {
    border-color: #621e23;
    border-radius: 10px;
}

a {
    color: #128e75;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}